<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <div>
            <h1>Hello World !</h1>
        </div>
        <p>sum = {{sum .}}   multiply = {{mult .}}</p>
    </body>
</html>