<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <div>
            <h1>Hello {{.Name}} !.</h1>
            <p>Your Age is {{.Age}}</p>
        </div>
    </body>
</html>